<h2>Rate These Books</h2>
<p>A list of 10 randomly selected books will appear on this page. After you rate one, it will go away, and a new one will replace it. Rate as many books as you can, so we can give you the most personal suggestions possible!</p>
<ul>
    <% results.forEach(book => { %>
        <li>
            <p>
                <%= book.title %>
                <form action="/books/rated" method="POST">
                    <label for="value">Rating (1-5):</label>
                    <input id="value" name="value" type="text">
                    <input name="bookId" value="<%= books.id %>" type="hidden">
                    <input name="userId" value="<%= currentUser %>" type="hidden">
                    <input type="submit" value="Submit Rating">
                </form>
                <form action="/books/read" method="POST">
                    <label for="status">Read (Y/N):</label>
                    <input id="status" name="status" type="text">
                    <input type="submit" value="Submit Read Status">
                </form>
            </p>
        </li>
    <% }) %>
</ul>