<h2>Rate These Books</h2>
<p>A list of 10 randomly selected books will appear on this page. After you rate one, it will go away, and a new one will replace it. Rate as many books as you can, so we can give you the most personal suggestions possible!</p>