<% if (alerts.error) { %>
    <% alerts.error.forEach(msg => { %>
        <div class="white"><%= msg %></div>
    <% }) %>
<% } %>

<% if (alerts.success) { %>
    <% alerts.success.forEach(msg => { %>
        <div class="white"><%= msg %></div>
    <% }) %>
<% } %>