body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

nav ul li {
    display: block;
    text-decoration: none;
    margin: 10px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
}